html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
}

/* Contenedor principal */
.home-page {
  min-height: 100vh;
  width: 100vw;
  background: radial-gradient(
    circle at top,
    rgba(79, 209, 255, 0.15),
    #0f1020
  );
  color: #ffffff;
}

/* Header */
.home-header {
  padding: 40px 40px 20px;
  text-align: center;
}

/* Texto intro */
.home-intro {
  font-size: 1.6rem;
  font-weight: 600;
  background: linear-gradient(135deg, #050708, #ff4fd8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: 20px;
  margin-left: 160px;
  text-align: left;
  
}

/* Separador */
.home-separator {
  width: 80vw;
  height: 2px;
  margin: 0 auto;
  border: none;
  background: linear-gradient(135deg, #090b0c, #ff4fd8);
  box-shadow:
    0 0 8px rgba(79,209,255,0.6),
    0 0 8px rgba(255,79,216,0.6);
}
