nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 0 30px;
  background-color: #03040c;
  box-shadow: 0 0 12px rgba(48, 93, 109, 0.25);
  color: #ffffff;
}

/* Left */
.nav-left {
  display: flex;
  align-items: center;
  gap: 12px;
}

/* Logo */
.app-logo {
  padding-top: 20px;
  height: 300px;
  width: auto;
  filter:
    drop-shadow(0 0 6px rgba(79, 209, 255, 0.6))
    drop-shadow(0 0 6px rgba(255, 79, 216, 0.6));
}

/* Title */
.app-title {
  font-size: 1.8rem;
  font-weight: 700;
  background: linear-gradient(135deg, #4fd1ff, #ff4fd8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 2px;
}

/* Right */
.nav-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Buttons */
nav button {
  background: linear-gradient(135deg, #4fd1ff, #ff4fd8);
  color: #fff;
  border: none;
  padding: 7px 18px;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;

  box-shadow:
    0 0 10px rgba(79,209,255,0.4),
    0 0 10px rgba(255,79,216,0.4);

  transition: all 0.25s ease;
}

nav button:hover {
  transform: translateY(-2px);
  box-shadow:
    0 0 16px rgba(79,209,255,0.8),
    0 0 16px rgba(255,79,216,0.8);
}

/* User */
.user-name {
  color: #dfe4ff;
  font-weight: 500;
}
